body,
html {
  height: 100%;
}
h1 {
  font-family: "Nunito", sans-serif;
}
.background-enveloppe-opaque {
  background-image: url("/img/header-opaque.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.social-links {
  display: flex;
  justify-content: center;
}
