body,
html {
  height: 100%;
}
h1 {
  font-family: "Playfair Display", serif;
}
.background-enveloppe-opaque {
  background-image: url("/img/header-opaque.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
@media (min-width: 900px) {
  .background-enveloppe-opaque {
    background-size: auto auto;
    height: fit-content;
  }
}
