:root {
  --primary-color: #fefefc;
  --secondary-color: #5a6275;
  --tertiary-color: #527e90;
  --background-color: #5a627514;
  --accent-color: #3cbdd3;
}

main p {
  color: var(--secondary-color);
}
main p {
  line-height: 2;
  text-align: justify;
}
footer a:hover {
  text-decoration: none;
}

.active {
  font-weight: bold;
}
.about-image {
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}
.background {
  background-color: var(--background-color);
  border-radius: 50px;
}

.button-align {
  display: block;
  margin: 0 auto;
}
.fa-ellipsis {
  color: var(--primary-color);
}

.footer-image {
  background-image: url("/img/footer.jpg");
  background-position: center;
  background-size: cover;
}
.greeting {
  color: #5a6275d9;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
.greeting-style {
  border: 2px solid var(--accent-color);
  border-radius: 35px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.heading {
  background-image: url("/img/header.JPG");
  background-position: center;
  background-size: cover;
}

.nav-alignment {
  margin: 0 auto;
}
.nav-link:visited {
  color: var(--primary-color);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.title {
  color: var(--primary-color);
  padding: 30px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 55px;
  }
}
@media (min-width: 601px) {
  main p {
    font-size: larger;
  }
  .about-closing-p {
    text-align: center;
  }
  .footer-image {
    background-position: top;
  }
  .greeting {
    font-size: 60px;
  }

  .title {
    font-size: 80px;
  }
}
