:root {
  --accent-color: #3cbdd3;
  --primary-color: #fefefc;
  --secondary-color: #5a6275;
  --background-color: #b0c2d021;
  --background-border: #445f7f;
}

main p {
  color: var(--background-border);
}
main p {
  line-height: 2;
  text-align: justify;
}
footer a:hover {
  text-decoration: none;
}
hr {
  border-top: 1px solid var(--accent-color);
}
.active {
  font-weight: bold;
}
.about-image {
  border: 2px solid var(--background-border);
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.background {
  background-color: var(--background-color);

  border-radius: 15px;
}

.button-align {
  display: block;
  margin: 0 auto;
}
.contact:hover,
.contact:visited,
.maltisian-accent-color {
  color: var(--accent-color);
}
.fa-ellipsis {
  color: var(--primary-color);
}

.footer-image {
  background-image: url("/img/footer.jpg");
  background-position: center;
  background-size: cover;
}

.greeting {
  color: var(--background-border);
  font-family: "Playfair Display", serif;
  font-size: 40px;
  padding: 8px;
  text-align: center;
}

.heading {
  background-image: url("/img/header.JPG");
  background-position: center;
  background-size: cover;
}

.nav-alignment {
  margin: 0 auto;
}
.nav-link:visited {
  color: var(--primary-color);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.shecodes-link,
.shecodes-link:visited,
.shecodes-link:hover {
  color: #875bf1;
}
.title {
  color: var(--primary-color);
  padding: 30px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 55px;
  }
}
@media (min-width: 601px) {
  main p {
    font-size: larger;
  }
  .about-closing-p {
    text-align: center;
  }
  .footer-image {
    background-position: top;
  }
  .greeting {
    font-size: 55px;
  }
  .nav-alignment {
    font-size: larger;
  }

  .title {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  .projects p {
    font-size: x-large;
    line-height: 3rem;
    padding-top: 130px;
  }
}
