:root {
  --primary-color: #fefefc;
  --secondary-color: #5a6275;
  --tertiary-color: #527e90;
  --background-color: #5a627514;
  --accent-color: #3cbdd3;
}
main p {
  color: var(--secondary-color);
}
main p {
  line-height: 2;
  text-align: justify;
}
footer a:hover {
  text-decoration: none;
}
.active {
  font-weight: bold;
}
.button-align {
  display: block;
  margin: 0 auto;
}
.fa-ellipsis {
  color: var(--primary-color);
}
.title {
  color: var(--primary-color);
  padding: 30px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}
